[Unit]
Description=Terion Bot (Anton)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/PARKHOMENKO_BOT
ExecStart=/root/PARKHOMENKO_BOT/venv/bin/python3 main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
